/* Use these colors
#1abc9c - Turqoise
#F7F9F9-white
#F40000-red
#211A1D-Black */

.bg-nav{
    background: #1abc9c;
}
.bg-color {
    background: #1abc9c;
    min-height: 100vh;
}
.outer-box{
  background: #F7F9F9;
  margin-top: 20%;
}

.login-textbox{
  margin-bottom: 5%;
}

.login-active {
    border-top: 5px solid #F40000;
}
.student-header {
    cursor: pointer;
}
.teacher-header {
    cursor: pointer;
}
.login-bottom-box {
    padding: 10%;
}
.no-margin
{
  margin: 0;
}
.btn-color
{
  color: white;
  background: #F40000;
}
.hide
{
  display: none;
}
.navbar-brand{
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.navbar-links{
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 10%;
}
.navbar-links:hover{
  color: white;
  text-decoration: none;
}
.width25 {
    width: 25%;
}
