/* Use these colors
#1abc9c - Turqoise
#F7F9F9-white
#F40000-red
#211A1D-Black */

.bg-nav{
    background: #1abc9c;
}
.bg-color {
    background: #1abc9c;
    min-height: 100vh;
}
.outer-box{
  background: #F7F9F9;
  margin-top: 20%;
}

.login-textbox{
  margin-bottom: 5%;
}

.student-header {
    cursor: pointer;
    border-top: 5px solid #F7F9F9;
}
.teacher-header {
    cursor: pointer;
      border-top: 5px solid #F7F9F9;
}
.login-active {
  border-top: 5px solid #F40000;
}
.login-bottom-box {
    padding: 10%;
}
.no-margin
{
  margin: 0;
}
.btn-color
{
  color: white;
  background: #F40000;
}
.hide
{
  display: none;
}
.navbar-brand{
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.navbar-links{
  color: white;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 10%;
  width: 30%;
}
.navbar-links:hover{
  color: white;
  text-decoration: none;
}
.width25 {
    width: 25%;
}
.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.bg-nav-lower{
  background: #1abc9cb3;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #F40000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #F40000;
  cursor: pointer;
}
.create-form {
    margin-top: 5%;
}
.form-control.createstudent {
    width: 40%;
}
.spacer
{
  margin-top: 3%;
}
.width50
{
  width: 50%;
}
.width40
{
  width: 40%;
}
.subject-upload-name
{
  font-size: 20px;
  margin-left: 5%;
}
.drag-drop-box {
    border: 1px dashed;
    height: 200px;
    width: 100%;
}
.file-upload-inside-box {
    text-align: center;

}
.margintop3{
  margin-top: 3%;
}
#files
{
  display: none;
}
#selectedFiles {
    text-align: left;
}
.student-file-list {
    cursor: pointer;
}

.file-list:hover {
    text-decoration: underline;
}
.file-list {
    margin-left: 5%;
}
.usn-list
{
  margin-left: 3%;
}
